*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: unset;
}

body {
    background: rgb(190, 127, 72);
}

.main-font {
    font-family: cursive;
}

.body-font {
    font-family: monospace;
}

h1 {
    text-align: center;
    color: brown;
    text-transform: uppercase;
    font-family: cursive;
    margin-top: 32px;
    letter-spacing: 2px;
    letter-spacing: 4px;
}

h3 {
    color: tan;
    text-transform: uppercase;
    font-family: monospace;
    text-align: center;
    height: 40px;
    margin: 18px auto;
    border-radius: 40px;
    text-align: center;
    text-transform: uppercase;
    font-family: monospace;
}

h3:not(.main) {
    letter-spacing: 8px;
    margin: 0 auto;
}


.main-container {
    margin: 50px auto;
    font-size: 20px;
    width: 100vw;
    min-width: 633px;
    max-width: 60vw;
    max-height: 60vw;
    display: flex;
    justify-content: center;
    padding: 0 20px;
}

#new-game-button{
    background-color: rgb(92, 128, 102);
    padding: 7px;
    width: 80%;
    height: 50px;
    margin: 16px auto;
    border-radius: 4px;
    color: white;
    text-transform: uppercase;
    border-color: peru;
}
#category-container {
    text-align: center;
    width: 100%;
}

#word-hint-container {
    color: #EAAA00;
    text-align: center;
    margin-top: 8px;
    font-size: smaller;
}

.categories-btn-wrap {
    display: flex;
    width: 100%;
    background: peachpuff;
    justify-content: center;
}

.categories-btn-wrap button {
    height: 50px;
    width: 50%;
    text-transform: uppercase;
    font-weight: bold;
    background-color: antiquewhite;
    border-color: papayawhip;
}

.category-container button {
    border: 3px solid salmon;
    padding: 5px;
    background-color: white;
    color: blue;
    border-radius: 5px;
}

canvas {
    width: 100%;
    height: 100%;
    color: #de4112;
}

.col {
    width: 50%;
}

.col.content-left {
    background-color: #c1502e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 0;
}

._is-content {
    opacity: 0;
    visibility: hidden;
    height: 0;
    display: flex;
    flex-direction: column;
}

._is-content.show {
    opacity: 1;
    visibility: visible;
    height: auto;
}


.col.content-left {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.col.content-right {
    background-color: #EAAA00;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    cursor: pointer;
}

button:not(._letter) {
    letter-spacing: 2px;
}

.letter-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 16px;
}

._alphabet  {
    padding: 4px 6px;
    margin: 4px;
    border-radius: 4px;
    width: 34px;
    border-color: blanchedalmond;
    text-transform: uppercase;
}

#player-input-section {
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 40px;
    background:rgb(92, 128, 102);
    margin: 0 auto;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}

._letter {
    line-height: 40px;
    text-transform: uppercase;
    color: burlywood;
}

#game-result-text{
    color: #EAAA00;
    background-color: peachpuff;
    text-align: center;
    width: 80%;
    margin: 18px auto;
    border-radius: 40px;
    text-transform: uppercase;
    padding: 45px;
}

#game-result-text > div {
    line-height: 40px;
}

#lives-remaining-container {
    width: auto;
    max-width: 48%;
    height: 12px;
    position: relative;
    top: -58px;
    left: 5px;
}

#lives-remaining-container > div {
    height: 100%;
}

#lives-remaining-container img {
    width: 25%;
    position: absolute;
    left: -21px;
    top: -18px;
    animation: pulse 2s cubic-bezier(0.215, 0.610, 0.355, 1) infinite;
}

.live {
    width: 20px;
    display: inline-block;
    height: 100%;
    border: 1px solid wheat;
    vertical-align: top;
}

.live.loaded {
    background: #c00f0f;
}

.live:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.man-hanging {
    width: 33%;
}

button._alphabet.clicked {
    border-color: transparent;
    cursor: inherit;
}

@keyframes pulse {
    0% {
        width: 25%;
    }
    
    50% {
        width: 27%;
    }

    100% {
        width: 25%;
    }
}